.header__lang-link {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #FFFFFF;
  text-decoration: none;
  transition: opacity .3s ease;
}

.header__lang-link:hover {
  opacity: 0.8;
}
