.lead {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 64px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .lead {
    margin-bottom: 88px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .lead {
    margin: 0 auto 92px;
    width: calc(100% - 2 * 48px);
  }
}

@media screen and (min-width: 1280px) {
  .lead {
    width: calc(100% - 2 * 148px);
  }
}
