.lead__title {
  margin: 0 16px 16px;
  text-align: center;
  font-weight: 900;
  font-size: 40px;
  line-height: 44px;
}

@media screen and (min-width: 720px) {
  .lead__title {
    margin: 0 24px 32px;
    font-size: 96px;
    line-height: 100px;
  }
}
